.navbar{
  width: max-width;
  height: 77px;
  background-color: #FFE7E7;
}

.projects{
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 23px;
  color: #FF6161;
  stroke: 1px solid #A30000;
  width: 74px;
  height: 23px;
  margin-top: 25px;
}

.flex{
  display: flex;
}

.space-between{
  justify-content: space-between;
}

.slider{
  position: relative;
  height: 32px;
  width: 73px;
  margin-left: 36px;
  margin-top: 24px;
  background-color: #B1B1B1;
  border-radius: 5px;
}

.cyrcle {
  position: absolute;
  width: 20px;
  height: 20px;
  margin-left: 10px;
  margin-top: 5px;
  background: #FF8F8F;
  border-radius: 50%;
}

.checkbox:checked + .slider .cyrcle {
  left : 35px;
}

.checkbox:checked + .slider {
  background-color: #A4F9E4;
}

.checkbox {
  display : none;
}

.github{
  width: 26px;
  height: 26px;
  margin-top: auto;
}

.linkedin{
  width: 26px;
  height: 26px;
  margin-top: auto;
}
