$sizes:(
  10: 10%,
  20: 20%,
  30: 30%,
  40: 40%,
  50: 50%,
  60: 60%,
  70: 70%,
  80: 80%,
  90: 90%,
  100: 100%,
);

@each $size, $value in $sizes{ 
  .w-#{$size} {
    width: $value;
  }

  .min-h-#{$size}{
    min-height: $value;
  }
}  

.radius-10{
  border-radius: 10px;
}

.border-pink{
  border: 1px solid #D4B3B3;
}

.vp-height{
  height: 100vh;
}
