.navbar{
  width: 100%;
  height: 77px;
}

.projects{
  font-family: 'Roboto';
  font-style: normal;
  font-size: 30px;
  margin-top: 25px;
}

.flex{
  display: flex;
}

.space-between{
  justify-content: space-between;
}

.slider{
  position: relative;
  height: 32px;
  width: 73px;
  margin-left: 36px;
  margin-top: 24px;
  border-radius: 5px;
}

.cyrcle {
  position: absolute;
  width: 20px;
  height: 20px;
  border-radius: 50%;
}

.slider .cyrcle {
  left: 0;
  transition: left 0.5s;
}

.ml-10{
  margin-left: 10px;
}

.mt-5{
  margin-top: 5px;
}

.checkbox:checked + .slider .cyrcle {
  left : 35px;
}

.checkbox:checked + .slider {
  background-color: #B1B1B1;
}

.checkbox {
  display : none;
}

.github{
  max-width: 100%;
  max-height: 100%;
  margin-top: 25px;
  margin-left: 20px;
  object-fit: contain;
  font-size: 30px;
}

.github-div{
  width: 60px;
}

.linkedin{
  max-width: 100%;
  max-height: 100%;
  margin-top: 25px;
  margin-left: 10px;
  object-fit: contain;
  font-size: 30px;
}

.linkedin-div{
  width: 60px;
}

.backround-light-pink{
background-color: #FFE7E7;
}

.background-dark-blue {
  background-color: #6168A8;
}

.black{
  color: black;
}

.light-blue-fill {
  fill: #D1F4FF
}

.backround-grey{
  background-color: #B1B1B1;
}

.backround-light-grey{
  background-color: #E3E3E3;
}

.backround-dark-grey {
  background-color: #747682;
}

.border-grey{
  border-bottom-color: #B1B1B1 !important;
}

.backround-pink{
  background: #FF8F8F;
}

.border-color-light-pink{
  border-bottom-color:#E3E3E3 !important;
}

.border-color-dark-grey{
  border-bottom-color: #747682 !important;
}

.pink-shapes{
  background: #D4B3B3;
}

.main-text-h2{
  text-align: left;
  font-size: xx-large;
  font-family: Alex Brush;
  font-style: normal;
  font-weight: 400;
  font-size: 64px;
  line-height: 80px;
  margin-left: 150px;
  margin-top: 100px;
}

.main-text-h3{
  text-align: left;
  font-size: xx-large;
  font-family: Roboto;
  font-weight: 400;
  font-size: 48px;
  line-height: 56px;
  height: 570px;
  margin-left: 150px;
  margin-top: 50px;
}

.about {
  width: 60%;
}

.z-1 {
  z-index: 1;
}

.z-2 {
  z-index: 2;
}

.rectangle{
  width: 35px;
  height: 309px;
  left: 61.08px;
  top: 244px;
  
  transform: rotate(29.7deg);
}

.rectangle-final{
  position: absolute;
  width: 35px;
  height: 309px;
  right: 600px;
  top: 250px;
  background: #D4B3B3;
}

.triangle{
  width: 0;
  height: 0;
  border-top: 0;
  border-left: 50px solid transparent;
  border-right: 50px solid transparent;
  border-bottom: 75px solid;
}

.small-triangle{
  width: 0;
  height: 0;
  border-top: 0;
  border-left: 25px solid transparent;
  border-right: 25px solid transparent;
  border-bottom: 50px solid;
}

.triangle-big{
  width: 0;
  height: 0;
  border-top: 0;
  border-left: 120px solid transparent;
  border-right: 120px solid transparent;
  border-bottom: 200px solid;
  transform: rotate(34.77deg);
}

.triangle-big-final{
  position: absolute;
  width: 236px;
  height: 236px;
  right: 90px;
  top: 309px;
  transform: rotate(34.77deg);
  border-bottom-color: #C2FFF0;
}

.polygon{
  width: 225px;
  height: 225px;
}

.polygon-position{
  position: absolute;
  right: -200px;
  top: -200px;
}

.polygon-final{
  position: absolute;
  right: 170px;
  top: 142px;
}

.height-width-68{
  width: 68px;
  height: 68px;
}

.hw-193{
  width: 193px;
  height: 193px;
}

.center{
 position: absolute;
 top: 50%;
 left: 50%;
 margin: -34px 0 0 -34px;
}

.triangle1{
  position: absolute;
  left: 963.83px;
  top: -68.03px;
  transform: rotate(21.9deg);
}

.triangle1-final{
  position: absolute;
  right: 450px;
  top: 483px;
  border-bottom-color:#D4B3B3;
}

.triangle2{
  position: absolute;
  left: 969px;
  top:-70px;
  transform: rotate(-35.69deg);
}

.triangle2-final{
  position: absolute;
  right: 350px;
  top: 483px;
  border-bottom-color:#D4B3B3;
}

.triangle3{
  position: absolute;
  left: 972px;
  top:-70px;
  transform: rotate(-35.69deg);
}

.triangle3-final{
  position: absolute;
  right: 475px;
  top: 508px;
}

.triangle4{
  position: absolute;
  left: 749px;
  top: -59.3px;
}

.triangle4-final{
  position: absolute;
  right: 375px;
  top: 508px;
}

.relative{
  position: relative;
}

.cyrcle-position{
  position: absolute;
  right: -150px;
  top: 78px;
}

.cyrcle-position-final{
  position: absolute;
  right: 430px;
  top: 240px;
}

body{
  overflow-x: hidden;
}
